<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/productsStyle.css">
    <title>Productos</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="main">
        <% if (locals.isAdmin) { %>
        <div class="options container">
            <a href="/products/create" class="boton">Agregar Producto</a>
        </div>
        <% } %>
        <div class="productos container">
            <% if (locals.products && products.length < 1) { %>
                <h3>Lo sentimos no hay productos para mostrar...</h3>
            <% } else { %>
            <% for (let i=0; i<products.length; i++) { %>
            <div class="card">
                <div class="product__item">
                    <% if (locals.isAdmin) { %>
                    <form method="POST" action="/products/<%= products[i].id %>/delete?_method=DELETE">
                        <button type="submit" class="product__delete">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </button>
                    </form>
                    <a class="product__edit" href="/products/<%= products[i].id %>/edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <% } %>
                    <img class="product__image" src="/img/productImages/<%= products[i].image ? products[i].image : '/img/productImages/default.jpg' %>" alt="">
                    <div class="product__info">
                        <a href="/products/<%= products[i].id %>/details" class="product__name"><%= products[i].name %></a>
                        <div class="product__info2">
                            <% if (products[i].discount > 0) { %>
                                <p class="product__price">$<%= toThousand(Math.floor(products[i].price - (products[i].price*(products[i].discount/100)))) %></p>
                                <p class="product__pricelinethrough">$<%= toThousand(products[i].price) %></p>
                                <p class="product__discount"> -<%= products[i].discount %>%</p>
                            <% } else { %>
                                <p class="product__price">$<%= toThousand(Math.floor(products[i].price - (products[i].price*(products[i].discount/100)))) %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>
            <% } %>

        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>