<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/detailProductStyle.css">
    <title>Detalles del Producto</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="main_Details_Products">

        <div class="details_Products_Container">

            <div class="details_Products_Item">
                <img src="<%= product.image %>" alt="" class="detail_img">
            </div>

            <div class="details_Products">

                <div class="details_Products_Title">
                    <h2 class="products_Title"><%= product.name %></h2>
                </div>

                <div class="details_Products_Description">
                    <div class="products_Description_Title">
                        <h3><%= product.name %></h3>
                    </div>
                    <div class="products_Description">
                        <p><%= product.description %></p>
                    </div>
                    <div class="description_Price">
                        <h4>
                            <%= product.price %>
                        </h4>
                        <h4>
                            <%= product.discount %>
                        </h4>
                    </div>
                    <div class="description_Amount">
                        <div class="description_Amount_Title">
                            <h4>
                                Cantidad
                            </h4>
                        </div>
                        <div class="description_Amount_Num">
                            <button class="button_Amount" type="button">
                                -
                            </button>
                            <input class="amount_Num" type="tel" step="1" value="1">
                            <button class="button_Amount" type="button">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="description_Payment">
                        <div class="method_Payment">
                            <h4>
                                Metodos de pago
                            </h4>
                        </div>
                        <div class="method_Payment_Item">
                            <li class="payment_li">
                                <img src="/img/visa_logo.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/img/mastercard_logo.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/img/Icono_tarjeta.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>