<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/createProductStyle.css">
    <script src="/js/validations-productCreate.js"></script>
    <title>Crear Producto</title>
</head>


<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="crearprod container">
            <% if ( locals.errors && errors.msg ) { %>
                <h2>Primero debes iniciar sesión</h2>
            <% } else { %>
                <% if (locals.isAdmin == false) { %>
                    <h2>No tienes permisos para ejecutar esta funcion</h2>
                <% } else { %>
                    <h1 class="crearprod__titulo">Agregar Producto</h1>
                    <form class="crearprod__form" action="/products/create" method="POST" enctype="multipart/form-data">
                        <div class="campo">
                            <input placeholder="Nombre del producto" type="text" name="nameProd" id="nameProd" value="<%= locals.old && old.nameProd ? old.nameProd: '' %>">
                            <% if (locals.errors && errors.nameProd) { %>
                                <p class="feedback"><%= errors.nameProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <textarea placeholder="Descripción" name="descriptionProd" id="descriptionProd" cols="30" rows="10"><%= locals.old && old.descriptionProd ? old.descriptionProd: '' %></textarea>
                            <% if (locals.errors && errors.descriptionProd) { %>
                                <p class="feedback"><%= errors.descriptionProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <input placeholder="Marca" type="text" name="brandProd" id="brandProd" value="<%= locals.old && old.brandProd ? old.brandProd: '' %>">
                            <% if (locals.errors && errors.brandProd) { %>
                                <p class="feedback"><%= errors.brandProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <select class="form-select" name="categoryProd" id="categoryProd" value="<%= locals.old && old.categoryProd ? old.categoryProd: '' %>">
                                <option value="" selected>Seleccione una Categoria</option>
                                <% if (locals.categories && categories) { %>
                                    <% for( let i=0; i<categories.length; i++ ) { %>
                                        <% if (locals.old && old) { %>
                                            <option value="<%= categories[i].id %>" <%= old.categoryProd == categories[i].id ? 'selected' : '' %> >
                                                <%=categories[i].name%>
                                            </option>
                                        <% } else { %>
                                            <option value="<%= categories[i].id %>">
                                                <%=categories[i].name%>
                                            </option>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.categoryProd) { %>
                                <p class="feedback"><%= errors.categoryProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <select class="form-select" name="lifestageProd" id="lifestageProd" value="<%= locals.old && old.lifestageProd ? old.lifestageProd: '' %>">
                                <option value="" selected>Seleccione una etapa de vida</option>
                                <% if (locals.lifestages && lifestages) { %>
                                    <% for( let i=0; i<lifestages.length; i++ ) { %>
                                        <% if (locals.old && old) { %>
                                            <option value="<%=lifestages[i].id%>" <%=old.lifestageProd == lifestages[i].id ? 'selected' : '' %> >
                                                <%=lifestages[i].stagename%>
                                            </option>
                                        <% } else { %>
                                            <option value="<%=lifestages[i].id%>">
                                                <%=lifestages[i].stagename%>
                                            </option>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.lifestageProd) { %>
                                <p class="feedback"><%= errors.lifestageProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="priceProd">Precio:</label>
                            <input placeholder="0" type="number" min="0" max="999999" name="priceProd" id="priceProd" value="<%= locals.old && old.priceProd ? old.priceProd: '' %>">
                            <% if (locals.errors && errors.priceProd) { %>
                                <p class="feedback"><%= errors.priceProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="discountProd">Descuento:</label>
                            <input placeholder="0" type="number" min="0" max="99" name="discountProd" id="discountProd" value="<%= locals.old && old.discountProd ? old.discountProd: '' %>">
                        </div>
                        <div class="campo">
                            <label for="stockProd">Stock:</label>
                            <input placeholder="0" type="number" min="0" max="99999" name="stockProd" id="stockProd" value="<%= locals.old && old.stockProd ? old.stockProd: '' %>">
                        </div>
                        <div class="campo">
                            <label for="imageProd">Imagen del Producto:</label>
                            <input type="file" accept="/jpg" name="imageProd" id="imageProd" value="<%= locals.old && old.imageProd ? old.imageProd: '' %>">
                            <% if (locals.errors && errors.imageProd) { %>
                                <p class="feedback"><%= errors.imageProd.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <input class="boton boton-verde" id="botonCrearProd" type="submit" value="Crear Producto">
                        </div>
                    </form>
                <% } %>
            <% } %>
        </div>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>