<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/historyStyle.css">
        <title>Picatso</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

        <main class="main">

            <div class="historial container">
                <% if ( locals.errors && errors.msg ) { %>
                    <h2>Para ver tu historial de productos primero debes iniciar sesión</h2>
                <% } else { %>
                    <h2>Productos visitados recientemente</h2>
                    <% if (cart.length === 0) { %>
                        <p>Aún no visitaste ningun producto.</p>
                    <% } else { %>
                        <% for (let i=0; i<cart.length; i++) { %>
                            <div class="producto__contenedor">
                                <div class="producto">
                                    <img src="/img/productImages/<%= cart[i].image %>" alt="rascador" class="producto__img">
                                    <div class="producto__info">
                                        <p class="producto__nombre"><%= cart[i].name %></p>
                                        <% if (cart[i].discount > 0) { %>
                                            <p class="producto__precio">$<%= toThousand(Math.floor(cart[i].price - (cart[i].price*(cart[i].discount/100)))) %></p>
                                            <p class="producto__descuento">(<%= cart[i].discount %>% de descuento)</p>
                                        <% } else { %>
                                            <p class="producto__precio">$<%= toThousand(Math.floor(cart[i].price - (cart[i].price*(cart[i].discount/100)))) %></p>
                                        <% } %>
                                        <p class="producto__descripcion"><%= cart[i].description %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>        
                    <% } %>
                <% } %>
            </div>

        </main>

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>

</body>

</html>