<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/detailProductStyle.css">
    <title>Detalles del Producto</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="main">
        <section class="product container">
            <div class="product__detail">
                <% if (locals.product && product) { %>
                <div class="image__container">
                    <img src="/img/productImages/<%=product.image%>" alt="" class="product__image">
                </div>
                <div class="description__container">
                    <p class="product__name"><%= product.name %></p>
                    <% if (product.discount > 0) { %>
                    <p class="product__price">
                        $<%= product.price - (product.price*(product.discount/100)) %>
                        <span class="product__oldprice">
                            $<%= product.price %> 
                        </span>
                        <span class="product__discount">
                            -<%= product.discount %>%OFF
                        </span>
                    </p> 
                    <% } else { %>
                    <p class="product__price">$<%= product.price %></p>
                    <% } %>
                    <div class="product__details__container">
                        <div class="categories">
                            <p><b>Categoria/s</b></p>
                            <ul class="product__categories">
                            <% for(let i=0; i<product.categories.length; i++) { %>
                                <li class="product__categories__li"><%= product.categories[i].name %></li>
                            <% } %>
                            </ul>
                        </div>
                        <div class="brand">
                            <p><b>Marca</b></p>
                            <p class="product__brand">
                                <%= product.brand.name %>
                            </p>
                        </div>
                        <div class="lifestage">
                            <p><b>Etapa de Vida</b></p>
                            <p class="product__lifestage">
                                <%= product.lifestage.stagename %>
                            </p>
                        </div>
                    </div>
                    <p><b>Descripcion:</b></p>
                    <% if (product.description.length > 0) { %>
                    <p class="product__desc">
                        <%= product.description %>
                    </p> 
                    <% } else { %>
                    <p class="product__desc">
                        Sin descripción disponible.
                    </p>
                    <% } %>
                    <button class="boton">Comprar</button>
                </div>
                <% } %>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>