<!DOCTYPE html>
<html lang="es">

<head>
  <!-- head -->
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <title>Login</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="container">
        <div class="profile">
            <% if ( locals.errors && errors.msg ) { %>
                <% if ( locals.user && user.username ) { %>
                <h2>No puedes ver informacion personal sobre <%= user.username %></h2>
                <% } else { %>
                <h2><%= errors.msg %></h2>
                <% } %>
            <% } else { %>
            <div class="profile__head">
                <img class="profile__avatar" src="/img/profileImages/<%= user.avatar %>">
                <% if (locals.user && user.username) { %>
                <h2 class="profile__username"><%= user.username %></h2>
                <% } %>
            </div>
            <div class="profile__body">
                <h3>Información Personal</h3>
                <div class="campo">
                    <label for="name">Nombre: <%= locals.user && user.name ? user.name : '' %></label>
                </div>
                <div class="campo">
                    <label for="surname">Apellido: <%= locals.user && user.surname ? user.surname : '' %></label>
                </div>
                <div class="campo">
                    <label for="email">Email: <%= locals.user && user.email ? user.email : '' %></label>
                </div>
                <div class="campo">
                    <label for="birthDay">Fecha de Nacimiento: <%= locals.user && user.birthday ? user.birthday : '' %></label>
                </div>
                <a class="boton" href="/profile/<%=user.id%>/edit">Editar datos</a>
            </div>
            <% } %>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>