<!DOCTYPE html>
<html lang="es">

<head>
  <!-- head -->
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/profileStyle.css">
    <script src="/js/validations-userEdit.js"></script>
    <title>Login</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="container">
        <div class="profile">
            <% if ( locals.errors && errors.msg ) { %>
                <% if ( locals.user && user.username ) { %>
                <h2>No puedes ver informacion personal sobre <%= user.username %></h2>
                <% } else { %>
                <h2><%= errors.msg %></h2>
                <% } %>
            <% } else { %>
            <div class="profile__head">
                <img class="profile__avatar" src="/img/profileImages/<%= user.avatar %>">
                <% if (locals.user && user.username) { %>
                <h2 class="profile__username"><%= user.username %></h2>
                <% } %>
            </div>
            <div class="profile__body">
                <h3>Información Personal</h3>
                <form class="form-edit" method="POST" action="/profile/<%=user.id%>/edit?_method=PUT">
                    <div class="campo">
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : '' %>">
                        <% if (locals.errors && errors.name) { %>
                            <p class="feedback"><%= errors.name.msg %></p>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="surname">Apellido:</label>
                        <input type="text" name="surname" id="surname" value="<%= locals.old && old.surname ? old.surname : '' %>">
                        <% if (locals.errors && errors.surname) { %>
                            <p class="feedback"><%= errors.surname.msg %></p>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <p class="feedback"><%= errors.email.msg %></p>
                        <% } %>
                    </div>
                    <div class="campo">
                        <label for="birthDay">Fecha de Nacimiento:</label>
                        <input type="date" name="birthDay" id="birthDay" value="<%= locals.old && old.birthday ? old.birthday : '' %>">
                        <% if (locals.errors && errors.birthDay) { %>
                            <p class="feedback"><%= errors.birthDay.msg %></p>
                        <% } %>
                    </div>
                    <button class="boton" type="submit">Confirmar</button>
                </form>
                <form method="POST" action="/profile/<%=user.id%>/delete?_method=DELETE">
                    <button class="boton" type="submit">Borrar Cuenta</button>
                </form>
            </div>
            <% } %>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>